.hard-bg{
    background-color:  #232424;
}

.soft-bg{
    background-color: #2b2c2c;
}

.hard-tx{
    color: #f0b200;
    font-size: 40px;
}

.normal-tx{
color: white;
font-size: 35px;
}
#about{

display: block;
margin: 0 auto;
padding:5px 20px;
}
