/*Global*/

*{
    font-family: 'Abel', sans-serif;
}


html{
    margin: 0px;
}

body{
    margin: 0px;
}

.hard-bg{
    background-color:  #232424;
}

.soft-bg{
    background-color: #2b2c2c;
}

.hard-tx{
    color: #f0b200;
}

.normal-tx{
    color: white;
    font-size: 20px;
}

.main-sub-heading{
    font-size: 30px;
    margin:20px  auto auto 150px;
}

/*Global*/

/*Header*/
header{
    margin:0px;
    padding:0px;
    width:100%;
}

.main-heading{
    font-size:100px;
    text-align:center;
    margin:0px;
    padding:50px;
    color:#f0b200;
}

.navigation {
    background-color:#f0b200;
    color:#232424;
    margin:0px;
    padding:10px;
    text-align: center;
    position:sticky;

}

.navigation-list{
    display:flex;
    justify-content: space-around;
    width:75%;
    margin:auto;
    margin-top:12px;
    margin-bottom: 12px;
    list-style-type: none;
    padding:0px;
}

.navigation-list li {
    display:inline-block;
    font-size:25px;
    font-weight:bold;
}


.sub-heading{
    background-image:url(web.jpg);
    height:75vh;
    width:100%;
    background-position: 50%;
    display:flex;
    align-items: center;
    background-repeat: no-repeat;
}

.sub-sub-heading{
    font-size:70px;
    background-color:rgba(35,36,36,0.7);
    padding:20px;
    text-align:center;
    color:white;
    margin:auto;

}


.navigation-list li a:link{
   
    color:#232424;
}

.navigation-list li a:hover{
    text-decoration:underline;
}


.navigation-list li a:visited{
    color:white;
}

/*Header*/

/*About*/
.about-tx{
    font-size: 40px;
    text-align: center;
    margin: 70px 10% 0px 10%;

}


#about{
    display: block;
    margin: 0 auto;
    padding:70px 0px;
}

/*About*/



/*Team*/
.team-container{
    margin: 70px auto;
    overflow: auto;
}

.team-div{
    clear: both;
    height: auto;
    overflow: auto;
    margin: 10px 8%;
}

.img-team-right {
    float: right;
}

.img-team-left{
    float: left;
}

.team-img{
    float: left;
    width: 15%;
    border-radius: 100%;
    margin-right: 20px;
}

#team{
    overflow: auto;
    padding:70px 0px;
}

figure a{
    color: white;
    text-decoration: none;
}

/*Team*/


/*Contact us*/

input[type=submit] ,input[type=text] ,textarea{
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 8px;
}

input[type=text]{
    width: 49.5%;
    margin-top: 70px;
}

textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

input[type=submit]{
    width: 20%;
    color:white;
    background-color:#f0b200;
    margin-bottom: 7%;
}

#form{
    width: 60%;
    margin: 0px 20%;
}

#contact-us{
    overflow: auto;
}

/*Contact us*/

/*Footer*/

footer{
    text-align: center;
    height: 50px;
}

/*Footer*/

@media only screen and (max-width: 750px) {
/*Global*/
    .main-sub-heading{
        text-align: center;
        margin: 20px auto auto 0px;
    }

/*Global*/
    
/*Header*/
    .main-heading{
        font-size: 50px;
    }
    
    .sub-sub-heading {
        font-size:35px;
    }

    .sub-heading {
        height:50vh;
        width:100%;
    }
    
/*Header*/
    
/*About*/
    .about-tx{
        font-size: 16px;
    }
/*About*/
    
/*Team*/
    .team-div{
        text-align: center;
    }
    .team-img{
        width: 20%;
        border-radius: 100%;
        margin-right: 40%;
        margin-left: 40%;
    }
     .team-img{
        width: 20%;
        border-radius: 100%;
        margin-right: 40%;
        margin-left: 40%;
    }
/*Team*/
    
/*Contact us*/
    #form{
        width: 90%;
        margin: auto;
    }
    input[type=text]{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    input[type=submit]{
        width: 40%;
        margin: 0 30% 30px 30%;
    }

    #email{
        margin-top: 0;
    }
    /*Contact us*/
   
}
