.hard-bg{
    background-color:  #232424;
}

.soft-bg{
    background-color: #2b2c2c;
}

.hard-tx{
    color: #f0b200;
}

.normal-tx{
    color: white;
}

.team-container{
    margin: 50px auto;
    overflow: auto;
}

#team{
    overflow: auto;
}

.team-div{
    clear: both;
    height: auto;
    overflow: auto;
    margin: 10px 8%;
}

.img-team-right {
    float: right;
}

.img-team-left{
    float: left;
}

.team-img{
    float: left;
    width: 20%;
    border-radius: 100%;
    margin-right: 20px;
}

.team-desc{

}

@media screen and (max-width: 750px){
    .team-img{
        width: 20%;
        border-radius: 100%;
        margin-right: 40%;
        margin-left: 40%;
    }
}